
<div class="order">
    <!-- 时间选择器 -->
<!--     <div class="time-picker datepickerdemoBasicUsage" ng-show="!flag">
        <md-content>
            <md-datepicker ng-model="myDate" md-placeholder="datapicker"></md-datepicker>
        </md-content>
    </div> -->
    <!-- 4种状态选项卡 -->
    <div class="order-wrapper">
        <div class="order-nav">
            <ul>
                <li data-ui-sref="micWebsite.add1">
                    <md-button ng-if="!isTabActive('add1')">tab1</md-button>
                    <span ng-if="isTabActive('add1')">tab1</span>
                    <!-- <i class="dot"></i> -->
                </li>
                <li data-ui-sref="micWebsite.add2">
                    <md-button ng-if="!isTabActive('foodConfirm')">tab2</md-button>
                    <span ng-if="isTabActive('foodConfirm')">tab2</span>
                    <i></i>
                </li>
            </ul>
        </div>
        <div class="order-detail">
            <div ui-view style="height: 100%;"></div>
        </div>
    </div>
</div>
