
<div class="order">
    <!-- 时间选择器 -->
    <div class="time-picker datepickerdemoBasicUsage" ng-show="!flag">
        <md-content>
            <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
        </md-content>
    </div>
    <!-- 4种状态选项卡 -->
    <div class="order-wrapper">
        <div class="order-nav">
            <ul>
                <li data-ui-sref="micWebsite.add1">
                    <md-button ng-if="!isTabActive('add1')">预订确认</md-button>
                    <span ng-if="isTabActive('add1')">预订确认</span>
                    <!-- <i class="dot"></i> -->
                </li>
                <li data-ui-sref="micWebsite.add2">
                    <md-button ng-if="!isTabActive('foodConfirm')">test1</md-button>
                    <span ng-if="isTabActive('foodConfirm')">test2</span>
                    <i></i>
                </li>
            </ul>
        </div>
        <div class="order-detail">
            <div ui-view style="height: 100%;"></div>
        </div>
    </div>
</div>
